* {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
           
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        img {
            width: 100vw;
            
            
        }
        a {
            margin-top: -4px;
            display: block;
            padding: 20px;
            background-color: darkred;
            color: white;
            text-align: center;
            text-decoration: none;
            font-weight: bolder;
            opacity: 0;  /* ← ADICIONE ESTA LINHA */
            animation: mostrarLink 0.5s         ease-in-out 1.5s forwards;  /* ←        ADICIONE ESTA LINHA */
            
        }
        a:hover {
            background-color: red;
        }

        @keyframes mostrarLink {
    to {
        opacity: 1;
    }
}