*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
}
body,html {
 background: black url("../imagens/fundo-madeira.jpg") top center no-repeat fixed;  
 background-size: cover;
 position: relative;
}
#telefone {
    background: url("../imagens/iphone.png") no-repeat fixed;
    height: 540px;
    width: 265px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
iframe#tela{
    position: relative;
    top: 68px;
    left: 19px;
    width: 228px;
    height: 550px;
}
#rede-social {
    text-align: right;
    margin-right: 10px;
    
}

section#rede-social img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    box-sizing: border-box;
}
section#rede-social a> img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .5s, border .2s;
    
}