*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
}
body,html {
 background: black url("../imagens/fundo-madeira.jpg") top center no-repeat fixed;  
 background-size: cover;
 position: relative;
}
#telefone {
    background: url("../imagens/frame-iphone.png") no-repeat;
    height: 620px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}