*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
}
body,html {
 background: black url("../imagens/fundo-madeira.jpg") top center no-repeat fixed;  
 background-size: cover;
 position: relative;
}
#telefone {
    background: url("../imagens/iphone.png") no-repeat fixed;
    height: 540px;
    width: 265px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
iframe#tela{
    position: relative;
    top: 68px;
    left: 19px;
    width: 228px;
    height: 550px;
}